*{
    margin: 0;
    padding: 0;
    font-family: "Livvic";
    color: var(--color-white);
}

li{
    list-style: none;
}

.navbar__wrapper, 
.about, .directors, 
#items_navbar li button{
    background-color: var(--color-secondary);
}

.navbar__wrapper, 
#items_navbar, 
.about, 
.about h1, 
.about div, 
.directors, 
.person,.clients, 
.clients div{
    display: flex;
}

.navbar__wrapper{
    justify-content: center;
    padding: 20px;
}

.navbar__wrapper span{
    font-size: 1.8em;
}

.navbar__wrapper nav{
    width: 70%;
}

#items_navbar{
    font-size: 0.8em;
}

#items_navbar li:not(:last-child){
    padding-left: 45px;
}

#items_navbar li:last-child{
    margin-left: auto;
    width: fit-content;
}

#items_navbar li button{
    border: 2px solid var(--color-white);
    padding: 8px 15px;
    border-radius: 25px;
}

.about{
    position: relative;
    height: 30vh;
    overflow: hidden;
}

.about h1{
    justify-content: center;
    flex: 1 1 30%;
    padding-top: 40px;
}

.about div{
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1 1 70%;
}

.about div p{
    width: 85%;
}

.about img{
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 0;
    right: -65px;
}

.about div span{
    background-color: var(--bg-color-pink);
    border-radius: 3px;
    width: 7%;
    height: 5px;
}

.directors{
    height: 100vh;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: var(--bg-color-green-dark);
    justify-content: center;
}

.directors > div, .person{
    overflow: visible;
}

.directors > div{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 40px;
}

.directors > img{
    position: absolute;
    top: 0;
    left: -80px;
    width: 150px;
    height: 150px;
}

.person{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    background-color: var(--color-primary);
    padding: 10px 0 30px 0;
    position: relative;
}

.person img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.person h6{
    padding-top: 10px;
    font-size: 0.9em;
    color: var(--color-green-marks);
}

.person p{
    font-size: 0.8em;
}

.person span{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--bg-color-pink) var(--cros-image) no-repeat center center;
    position: absolute;
    bottom: -10px;
}

.clients{
    background-color: var(--color-primary);
}

.clients{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
}

.clients div{
    width: 80%;
    justify-content: space-between;
}

.clients div > *{
    width: 110px;
    height: 20px;
}