*{
    margin: 0;
    padding: 0;
    font-family: "Livvic";
    color: var(--color-white);
}

li{
    list-style: none;
}

input[type="checkbox"], .menu_img{
    display: none;
}

.navbar__wrapper{
    padding: 30px;
}

.navbar__wrapper nav, #items_navbar{
    display: flex;
}

.navbar__wrapper nav span{
    font-size: 3em;
}

#items_navbar{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#items_navbar li:not(:last-child){
    padding-left: 45px;
    font-size: 1.3em;
}

#items_navbar li:last-child{
    margin-left: auto;
}

#items_navbar li button{
    border: 2px solid var(--color-white);
    background-color: var(--color-secondary);
    padding: 8px 15px;
    border-radius: 25px;
    font-size: 1.3em;
}

.banner{
    background-color: var(--color-secondary);
    height: 75vh;
    position: relative;
}

.img_banner{
    position: absolute;
    bottom: 0;
    left:0px;
    right:0px;
    margin: auto;
}

.banner-info{
    margin: auto;
    width: 65%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.banner-info h1{
    width: 80%;
    margin: auto;
    font-size: 5em;
}

.banner-info h1 span, .section > div > * div h3{
    color: var(--bg-color-pink);
}

.banner-info p{
    font-size: 1.5em;
    padding-top: 10px;
}

.section{
    position: relative;
    background-color: var(--color-primary);
    height: 75vh;
    padding: 100px;
}

.section__image-bg{
    position: absolute;
    right: 0;
    top: 0;
}

.section > span{
    font-size: 0.1em;
    background-color: var(--bg-color-pink);
    color: var(--bg-color-pink);
    border-radius: 3px;
}

.section > h2{
    padding: 20px 0 50px 0;
    font-size: 2.5em;
}

.section > div > *{
    display: flex;
    margin: 25px 0;
    font-size: 1.2em;
}

.section > div > * div{
    padding-left: 25px;
}

.section > div > * div p{
    padding-top: 10px;
}

.img_top_container{
    position: absolute;
    left: 0;
    top: 0;
}

.section2{
    background-color: var(--color-secondary);
    height: 130vh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 100px 50px;
}

.section__persons h3{
    width: 62%;
    font-size: 1.9em;
    margin: auto;
}

.section__persons h3 span, .section__persons-container h4{
    color: var(--color-light-green);
}

.section__persons-container{
    margin-top: 50px;
    background: var(--quotes) no-repeat center top;
    font-size: 1.3em;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__persons-container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.section__persons-container h4{
    padding-top: 15px;
}

.section__contact{
    position: relative;
    background-color: var(--bg-color-pink);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.section__contact h2, .section__contact button{
    color: var(--color-primary);
    font-size: 1.7em;
}

.section__contact img{
    position: absolute;
    left: 0;
    bottom: -25;
}

.section__contact button{
    font-size: 1.3em;
    background-color: var(--bg-color-pink);
    border: 2px solid var(--color-primary);
    border-radius: 25px;
    padding: 8px 20px;
}

footer{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color-primary);
    font-size: 1.2em;
    padding: 40px;
}

.footer_info, .footer_social{
    display: flex;
    justify-content: space-between;
}

.footer_info > div:last-child, .footer_social > div:last-child{
    opacity: 0.5;
}

.footer_info div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_info div:first-child span{
    font-size: 1.5em;
}

.footer__links{
    display: flex;
    justify-content: space-between;
}

.footer__data{
    text-align: end;
}

.footer__social-icons{
    width: 15%;
    display: flex;
    justify-content: space-between;
}

#end_persons{
    display: none;
}