* {
    box-sizing: border-box;
    /* overflow: hidden; */
}
.banner {
    width: 100%;
    height: 100vh;
    background-color: var(--color-secondary);
    box-sizing: border-box;
}
.navbar__wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 2em 0 0 0;
    display: flex;
    justify-content: space-between;
}
.navbar__wrapper span {
    font-family: "Livvic";
    font-weight: bold;
    color: white;
    font-size: 1.8rem;
    padding: 0 0 0 1em;
}
nav {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin: 0 1em 2em 1em;
}
nav span {
    font-family: "Livvic";
    font-weight: bold;
    color: white;
    font-size: 1.8rem;
}
nav label img {
    width: 1.8em;
    height: 1.8em;
    object-fit: contain;
    align-items: center;
    display: block;
    padding: 0 1em 0 0;
    /* Porque necesito poner important si estoy trabajando en la seccion mia */
}
.menu_img {
    width: 2.5em;
    height: 2.5em;
    object-fit: contain;
    align-items: center;
    display: block;
    padding: 0 1em 0 0;
}
input[type='checkbox'] { 
    display: none;
 }
#items_navbar {
    display: none;
}
#menu:checked ~ #items_navbar {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 4em;
    right: 0;
}
.banner-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    margin: 0 0 2em 0;
} 
.banner-info h1 {
    text-align: center;
    padding: 0 2em 0 2em;
    font-size: 2rem;
    margin: 0;
    color: white;
    font-family: 'Livvic';
}
.banner-info span {
    color: var(--color-pink);
}
.banner-info p {
    text-align: center;
    padding: 1em;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    font-family: 'Livvic';
}
.img_banner {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.section {
    height: 190vh;
    width: 100%;
    background-color: var(--color-primary);
    padding: 2em 0 0 0;
    box-sizing: border-box;
}
.section__line {
    width: 50px;
    height: 1px;
    margin: 0 0 1.5em 0.8em;
    /* padding: 0 0 0 0.5em; */
    border-bottom: 5px solid var(--color-pink);
}
.section h2 {
    width: 62%;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Livvic';
    color: white;
    text-align: left;
    padding: 0 0 0 0.5em;
    box-sizing: border-box;
}
.section__image-bg {
    transform: rotate(-90deg);
    filter: drop-shadow(1px 5px 20px black);
    position: absolute;
    top: 110vh;
    right: -50px;
    z-index: 2;
}
.section__qualities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section__qualities img {
    margin: 2em 0 0 0;
}
.section__qualities h3 {
    color: var(--color-pink);
    font-family: "Livvic";
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    margin: 1em 0 0.8em 0;
}
.section__qualities p {
    color: var(--color-white);
    font-weight: 600;
    text-align: center;
    padding: 0 1em;
}
.section2 {
    width: 100%;
    height: 240vh;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.section2 img:nth-child(1) {
    align-self: flex-start;
}
.section2 h3 {
    color: var(--color-white);
    font-family: 'Livvic';
    padding: 1em 1em 0;
    text-align: center;
    font-size: 1.8rem;
    margin: 0;
}
.section__persons > h3 > span {
    color: var(--color-light-green) !important;
}
.section__persons-container {
    padding: 1em 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section__persons-container p {
    color: white;
    font-family: 'Livvic';
    font-weight: 600;
    text-align: center;
    /* text-justify:auto; */
}
.section__persons-container h4 {
    color: var(--color-light-green);
    font-size: 1rem;
    margin: 1em 0 0.5em 0;
}
.section__persons-container h6 {
    color: var(--gray-light);
    font-size: 0.8rem;
    margin: 0;
}
.section__persons-container img {
    border-radius: 50%;
    width: 4em;
    object-fit: contain;
    border: 1px solid var(--gray-light);
    margin: 1em 0 0 0;
}
#end_persons {
    align-self: flex-end;
}
.section__contact {
    height: 69vh;
    width: 100%;
    position: relative;
    background-color: var(--color-pink);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.section__contact h2, .section__contact button{
    color: var(--color-primary);
    font-size: 1.9em;
    font-weight: bold;
}
.section__contact h2 {
    padding: 1em 0 0 0;
}
.section__contact img {
    align-self: flex-start;
}

/* .section__contact img{
    position: absolute;
    left: 0;
    bottom: -25;
} */

.section__contact button{
    font-size: 1.3em;
    background-color: var(--bg-color-pink);
    border: 2px solid var(--color-primary);
    border-radius: 25px;
    padding: 8px 20px;
    font-family: 'Livvic';
}
footer {
    background-color: var(--color-primary);
    margin: 0;
    padding: 0 2em;
}
footer div span {
    font-size: 1.2rem;
    color: var(--color-white);
    font-weight: bold;
    font-family: 'Livvic';
}
footer div nav {
    display: flex;
    justify-content: center;
}
.footer__links_contact {
    display: flex;
    justify-content: center !important;
    padding: 0 2em;
}
.footer__links a {
    color: var(--color-white);
    /* font-weight: bold; */
    font-family: 'Livvic';
}
.footer__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__data p {
    color: var(--color-light-green);
    font-size: 0.8rem;
}
.footer_social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 0;
}
.footer_social div p {
    color: var(--color-light-green);
    font-size: 0.8rem;
    font-family: 'Livvic';
    padding: 1em 0;
}